<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eunsam.mappers.shopMapper">

<!-- 카테고리별 상품 리스트 : 1차 -->
<select id="list_1" resultType="com.eunsam.domain.GoodsViewVO">
select 
g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,
g.gdsImg, g.gdsThumbImg
from tbl_goods g
inner join goods_category c
on g.cateCode = c.cateCode
where g.cateCode = #{cateCode}
or c.cateCodeRef = #{cateCodeRef}
</select>

<!-- 카테고리별 상품 리스트 : 2차 -->
<select id="list_2" resultType="com.eunsam.domain.GoodsViewVO">
select 
g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,
g.gdsImg, g.gdsThumbImg
from tbl_goods g
inner join goods_category c
on g.cateCode = c.cateCode
where g.cateCode = #{cateCode}
</select>

<!-- 상품 조회 + 카테고리 조인 -->
<select id="goodsView" resultType="com.eunsam.domain.GoodsViewVO">
select g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate, g.gdsImg, g.gdsThumbImg
from tbl_goods g
inner join goods_category c
on g.cateCode = c.cateCode          
where g.gdsNum = #{gdsNum}
</select>

<!-- 리뷰 작성 -->
<insert id="registReply">
insert into tbl_reply (gdsNum, userId, repNum, repCon)
values (#{gdsNum}, #{userId}, tbl_reply_seq.nextval, #{repCon})
</insert>

<!-- 리뷰 목록 -->
<select id="replyList" resultType="com.eunsam.domain.ReplyListVO">
select
r.gdsNum, r.userId, r.repNum, r.repCon, r.repDate, m.userName
from tbl_reply r
inner join tbl_member m
on r.userId=m.userId
where gdsNum=#{gdsNum}
</select>

<!-- 리뷰 삭제 -->
<delete id="deleteReply">
delete tbl_reply
where repNum=#{repNum}
and userId=#{userId}
</delete>

<!-- 아이디 체크 -->
<select id="replyUserIdCheck" resultType="String">
select userId
from tbl_reply
where repNum=#{repNum}
</select>

<!-- 리뷰 수정 -->
<update id="modifyReply">
update tbl_reply
set repCon=#{repCon}
where repNum=#{repNum}
and userId=#{userId}
</update>

</mapper>